{% extends 'AgileStoryPrintJiraBundle::base.html.twig' %}

{% block content %}
	{% include 'AgileStoryPrintJiraBundle::navigation.html.twig' with {'links': 'absolute'} %}

	<!-- Header -->
	<header{% if help is defined %} class="with-help"{% endif%}>
	    <div class="container">
	        <div class="intro-text message">
	            <div class="intro-lead-in">{{ title|trans }}</div>
	            <div class="intro-heading">{{ message|trans|raw }}</div>
	        </div>
	    </div>
	</header>
	<!-- /Header -->

	{% if help is defined %}
		<section id="help">
    		<div class="container">
    			<div class="row">
		            <div class=" col-sm-offset-3 col-sm-6 text-center">
		                <h2 class="section-heading">{{ help.title|trans|raw }}</h2>
		            </div>
		        </div>
    			<div class="row">
		            <div class="col-sm-6 col-sm-offset-3">
		                {{ help.text|trans|raw }}
		            </div>
		        </div>
    		</div>
    	</section>
	{% endif %}
{% endblock %}