<section class="story row16">
	<div class="header">
		<div class="story_title edit">
			<span></span>
			<textarea class="field" style="display:none;"></textarea>
		</div>

		<div class="boxes">
			<div class="story_business_value edit">
				<span></span>
				<input type="text"class="field"  value="" style="display:none;" />
			</div>
			<div class="story_effort edit">
				<span></span>
				<input type="text"class="field"  value="" style="display:none;" />
			</div>
		</div>
	</div>

	<div class="content">
		<div class="story_details edit">
			<h3>Details:</h3>
			<span></span>
			<textarea class="field" style="display:none;"></textarea>
		</div>
		<div class="story_requirements edit">
			<h3>Requirements:</h3>
			<span></span>
			<textarea class="field" style="display:none;"></textarea>
		</div>
		<div class="story_acceptance edit">
			<h3>Acceptance:</h3>
			<span></span>
			<textarea class="field" style="display:none;"></textarea>
		</div>
	</div>

	<div class="footer">
		<div class="story_id edit">
			#<span></span>
			<input class="field" type="text" value="" style="display:none;" />
		</div>
		<div class="story_feature edit">
			<h4>Feature:</h4>
			<span></span>
			<input type="text" class="field" value="" style="display:none;" />
		</div>

		<div class="story_team edit">
			<h4>Team: </h4>
			<span></span>
			<input type="text" class="field" value="" style="display:none;" />
		</div>
		<div class="story_sprint edit">
			<h4>Sprint: </h4>
			<span></span>
			<input type="text" class="field" value="" style="display:none;" />
		</div>
	</div>
</section>
